{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <h1>Profile</h1>
  <form method="POST" action="{{ url_for('main.update_profile', username=current_user.username) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }} {{ form.username(size=32, class_="form-control") }}
      {% for error in form.username.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.about_me.label }} {{ form.about_me(class_="form-control") }}
      {% for error in form.about_me.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
  </form>
  <form method="POST" action="{{ url_for('main.delete_account', username=current_user.username) }}">
    {{ form.hidden_tag() }}
    <div class="form-group my-2">
      <button 
        type="submit" 
        class="btn btn-danger" 
        onclick="return confirm('Are you sure you want to delete your account?')"
      >
        Delete Account
      </button>
    </div>
  <hr>
{% endblock %}
